<div class="container">
    
    <div class="row">

        <div class="video-container row">   
            <div class="local-video-container">
                <video id="local-video" class="video-capture" autoplay></video>
            </div>
            <video id="remote-video" class="video-capture" autoplay></video>
        </div>
        <div class="row">
            <button ng-hide="enabledCallButton" ng-click="ctrl.closeBeneficiaryCall()">Terminar videoconferencia</button>
        </div>
    </div>
</div>