<div class="dashboard-page" >
    <div class=container-fluid>
        <div class=row>
            <div class="col-sm-3 col-md-2 sidebar">
                <div class=text-center>
                    <h2>Grupo Nueve Once <small>Video Asistencia</small></h2>
                    <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class=user-avatar>
                    <br>
                    <h2><small>{{$root.name}} MPPS: {{$root.mpps}}</small></h2>
                    <br>
                    <a ui-sref="home" class="btn btn-white btn-outline btn-rounded btn-sm" ng-click="main.logout()">Logout</a>
                </div>
                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('list')}"><a ui-sref=".list">Sala de Espera</a></li>
                    <li ><a ng-click="ctrl.getChat()">Mensajes</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>

            </div>
        </div>
    </div>
</div>