<div class="text-message container">
    <div class="row">

        <!-- Titulo -->
        <div class="row">
            <div class="col-md-8">
                <a ui-sref="dashboard.chat-list">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a>
                <h1>{{$root.actualChat.nameToShow}}</h1>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true">
                    <input id="uploadBtn" type="file" title="Adjuntar" class="upload" accept="application/pdf, image/jpg, image/png"/>
                </span> 
            </div>
        </div>
        
        <!-- Campo de texto-->
        <div id="messagesContainer" class="row chat-history">
        </div>

        <!-- Botones -->
        <div class="row">
            <div class="col-md-8">
                <input class="message-box" type="textarea" ng-model="text">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="ctrl.sendMessage(text)">Enviar</button>
            </div>
        </div>

    </div>
</div>