<div class="row">
    <div class="col-md-2 col-md-offset-9 name-app-modal">Grupo 911</div>
</div>
<div align="center" style="width: 100%; text-align: center">

    <div class="thumbnail avatar-container-call">
        <i class="glyphicon glyphicon-user"></i>
    </div>
</div>

<div class="user-call">
    {{userCall}}
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-6 text-right">

        <div class="button-call" ng-click="showVideo()">
            <i class="glyphicon glyphicon-earphone"></i>
        </div>
    </div>
    <div class="col-md-6">
        <div class="button-close-call" ng-click="cancel()">
            <i class="glyphicon glyphicon-off"></i>
        </div>
    </div>
</div>
